@charset "utf-8";
/* CSS Document */
#wrapper{ background-image:url(../img/spec/back.jpg);
	min-height:850px;
}
#main{
	height:100%;
	position:absolute;
	top:0; left:50%;
	margin-left:-348px;
	width:458px;
}
#main h2{
	position:absolute;
	left:0; top:34px;
	display:block;
}
#table{
	padding-top:90px;
	padding-bottom:25px;
}

#table2{
	padding:20px 0;
}

#banner-bonus{
	display:block;
	margin-top:25px;
	background-color:#d3d3d3;
	padding:1px;
}


